


<h1 class="titulos">Howarth</h1>


<br><br>
<h2 class="titulos"> Total de Registros : <%= @character.count %> </h2>

<table class="table table-success table-striped">

  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Character </th>
      <th scope="col">Location</th>
      <th scope="col">House</th>
    </tr>
  </thead>

  <tbody >
    <% @character.each do |r| %>
        <tr>
            <th  scope="row"><%= r.id %></th>
            <td><%= r.name%></td>
            <td><%= r.location%></td>
            <td><%= r.house%></td>
        </tr>
    <% end %>
  </tbody>
</table>